body{
    display: flex;
    position: relative;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
header{
    display: flex;
    font-size: 50px;
} 
.start-screen{
    display: flex;
    flex-direction: column;
} 
#start-button{ 
    display: flex;
    align-self: center;
}
#start-container{
    border: .5em;
    border-style: solid;
    border-color: black;
    padding: 1em;
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions-container{
    max-width: 50em;
    margin: 0 auto;
    border: .5em;
    border-style: solid;
    border-color: black;
    padding: 1em;
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#begin{
    display: flex;
}

.gameplay-container{
    display: flex;
    flex-direction: column;
    min-height: 750px;
    min-width: 750px;
    margin: 0 auto;
    border: .5em;
    border-style: solid;
    border-color: black;
    padding: 1.5px 1.5px 1.5px 1.5px;
    margin-top: 5%;
}
#timer{
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}
#strikes{
    display: flex;
    justify-self: flex-start;
    align-self: flex-end;
    flex: initial;
}
#play-button{
    display: flex;
}
#results{
    visibility: hidden;
}
#reset{
    display: flex;
    align-self: center;
}
.players{
    display: flex;
}